a.dat
a.gpl
a.raw
a.txt
a.wav
aiueo.raw
b.raw
bandelimination
bandelimi.raw
bandpass
c.raw
doremi
doremi.wav
downsample
ds
ds5.raw
e.raw
e.txt
fft
fft.dat
filename
fuga
hoge.raw
i.raw
judge
judge_re
judge.dat
ka.raw
lowq.raw
meplot.raw
mk_data
mk_data2
mk_hitoshi
na.raw
nc
o.raw
o.txt
orig.raw
plot43.raw
prac.raw
read_data
read_data2
rec_file.raw
request
response
sa.raw
sin
sin.raw
sound.raw
ta.raw
u.raw
